/* app/assets/css/main.css */
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 1920px;
  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  /* ... */
  /* 旋转动画 */
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-30deg);
    }
    50% {
      transform: rotate(30deg);
    }
  }
  /* 光晕呼吸动画*/
  --animate-pulse-glow: pulseGlow 4s ease-in-out infinite;
  @keyframes pulseGlow {
    0%,
    100% {
      opacity: 0.95;
      transform: scaleY(1);
    }
    50% {
      opacity: 0.6;
      transform: scaleY(1.1);
    }
  }
  /* 浮动动画 */
  --animate-fadeUp: fadeUp 0.8s ease-out forwards;
  @keyframes fadeUp {
    0% {
      transform: translateY(40px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
@plugin "daisyui";
@layer components {
  .follow-btn {
    @apply bg-[url('/img/follow_btnX.png')] bg-no-repeat bg-cover w-7 h-7 my-3 mx-auto block hover:brightness-150 hover:scale-110 hover:ring-2 hover:ring-green-400 transition duration-300 ease-out;
  }
}
@layer components {
  .border-gradient-green {
    border-image: linear-gradient(to right, transparent, #059669, transparent) 1;
    border-bottom-width: 1px;
    border-style: solid;
  }
}

@layer components {
  .nav-dot {
    @apply relative pl-6;
  }
  .nav-dot::before {
    content: "";
    @apply absolute left-1 top-1/2 -translate-y-1/2 w-2 h-2 rounded-full;
    background-color: var(--dot-color);
  }

  /* 更多圆点颜色类定义 */
  .dot-red {
    --dot-color: theme("colors.red.500");
  }
  .dot-orange {
    --dot-color: theme("colors.orange.500");
  }
  .dot-amber {
    --dot-color: theme("colors.amber.500");
  }
  .dot-yellow {
    --dot-color: theme("colors.yellow.400");
  }
  .dot-lime {
    --dot-color: theme("colors.lime.500");
  }
  .dot-green {
    --dot-color: theme("colors.green.500");
  }
  .dot-emerald {
    --dot-color: theme("colors.emerald.500");
  }
  .dot-teal {
    --dot-color: theme("colors.teal.500");
  }
  .dot-cyan {
    --dot-color: theme("colors.cyan.500");
  }
  .dot-sky {
    --dot-color: theme("colors.sky.500");
  }
  .dot-blue {
    --dot-color: theme("colors.blue.500");
  }
  .dot-indigo {
    --dot-color: theme("colors.indigo.500");
  }
  .dot-violet {
    --dot-color: theme("colors.violet.500");
  }
  .dot-purple {
    --dot-color: theme("colors.purple.500");
  }
  .dot-pink {
    --dot-color: theme("colors.pink.500");
  }
  .dot-rose {
    --dot-color: theme("colors.rose.500");
  }
}

@font-face {
  font-family: "汉仪文黑-65w"; /* 自定义的字体名称 */
  src: url("/fonts/汉仪文黑-65W.ttf") format("truetype"); /* 字体文件路径 */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "汉仪文黑-85w"; /* 自定义的字体名称 */
  src: url("/fonts/汉仪文黑-85W.ttf") format("truetype"); /* 字体文件路径 */
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: "汉仪文黑-65w", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  /* 👆 这是推荐的系统字体栈，跨平台渲染速度快 */
  margin: 0;
  padding: 0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.147 0.004 49.25);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.147 0.004 49.25);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.147 0.004 49.25);
  --primary: oklch(0.216 0.006 56.043);
  --primary-foreground: oklch(0.985 0.001 106.423);
  --secondary: oklch(0.97 0.001 106.424);
  --secondary-foreground: oklch(0.216 0.006 56.043);
  --muted: oklch(0.97 0.001 106.424);
  --muted-foreground: oklch(0.553 0.013 58.071);
  --accent: oklch(0.97 0.001 106.424);
  --accent-foreground: oklch(0.216 0.006 56.043);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.923 0.003 48.717);
  --input: oklch(0.923 0.003 48.717);
  --ring: oklch(0.709 0.01 56.259);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.147 0.004 49.25);
  --sidebar-primary: oklch(0.216 0.006 56.043);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.97 0.001 106.424);
  --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
  --sidebar-border: oklch(0.923 0.003 48.717);
  --sidebar-ring: oklch(0.709 0.01 56.259);
}

.dark {
  --background: oklch(0.147 0.004 49.25);
  --foreground: oklch(0.985 0.001 106.423);
  --card: oklch(0.147 0.004 49.25);
  --card-foreground: oklch(0.985 0.001 106.423);
  --popover: oklch(0.147 0.004 49.25);
  --popover-foreground: oklch(0.985 0.001 106.423);
  --primary: oklch(0.985 0.001 106.423);
  --primary-foreground: oklch(0.216 0.006 56.043);
  --secondary: oklch(0.268 0.007 34.298);
  --secondary-foreground: oklch(0.985 0.001 106.423);
  --muted: oklch(0.268 0.007 34.298);
  --muted-foreground: oklch(0.709 0.01 56.259);
  --accent: oklch(0.268 0.007 34.298);
  --accent-foreground: oklch(0.985 0.001 106.423);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.268 0.007 34.298);
  --input: oklch(0.268 0.007 34.298);
  --ring: oklch(0.553 0.013 58.071);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.216 0.006 56.043);
  --sidebar-foreground: oklch(0.985 0.001 106.423);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.268 0.007 34.298);
  --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
  --sidebar-border: oklch(0.268 0.007 34.298);
  --sidebar-ring: oklch(0.553 0.013 58.071);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
