/* app/assets/css/main.css */
@import "tailwindcss";
@theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 1920px;
  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  /* ... */
  /* 旋转动画 */
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-30deg);
    }
    50% {
      transform: rotate(30deg);
    }
  }
  /* 光晕呼吸动画*/
  --animate-pulse-glow: pulseGlow 4s ease-in-out infinite;
  @keyframes pulseGlow {
    0%,
    100% {
      opacity: 0.95;
      transform: scaleY(1);
    }
    50% {
      opacity: 0.6;
      transform: scaleY(1.1);
    }
  }
  /* 浮动动画 */
  --animate-fadeUp: fadeUp 0.8s ease-out forwards;
  @keyframes fadeUp {
    0% {
      transform: translateY(40px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
@plugin "daisyui";
@layer components {
  .follow-btn {
    @apply bg-[url('/img/follow_btnX.png')] bg-no-repeat bg-cover w-7 h-7 my-3 mx-auto block hover:brightness-150 hover:scale-110 hover:ring-2 hover:ring-green-400 transition duration-300 ease-out;
  }
}
@layer components {
  .border-gradient-green {
    border-image: linear-gradient(to right, transparent, #059669, transparent) 1;
    border-bottom-width: 1px;
    border-style: solid;
  }
}

html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  /* 👆 这是推荐的系统字体栈，跨平台渲染速度快 */
  margin: 0;
  padding: 0;
}
